
<div class="container" style="padding-left:30px">

  <div class="row">
    <div class="col-1" style="cursor: pointer;" (click)="goMenu()">
      <h5>Menu</h5>
    </div>
  </div> 

  <div class="row mb-3">
    <div class="col"><h1>{{ subCategory?.subCategoryName | titlecase }}</h1></div>    
  </div>

  <div *ngFor="let subCategoryProduct of subCategory?.subCategoryProducts" class="row mb-5">
    <div class="col">
      <h3>{{ subCategoryProduct.groupName | titlecase}}</h3>
      <hr/>
    </div> 
    <div class="row row-cols-4">      
      <div  *ngFor="let product of subCategoryProduct.products" 
            class="col" 
            style="cursor:pointer" 
            (click)="productSelected(product.id)">
        <div>
          <div style="text-align: center;" class="mb-4">
            <img [src]="getImage( product.id )" 
                width="100px" height="100px" 
                style="border-radius: 50%"/>
          </div>
          <div style="text-align: center;">
            <h5>{{product.name | titlecase}}</h5>
          </div>
        </div>
      </div>      
    </div>
 </div>
  
</div>