<div class='row' [class]="marginProp" [style]="imagePositionProp">
    <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12' style="padding: 0;"> 
        <img [src]="imageProp" class="img-fluid mx-auto" [alt]="imageProp"/>
      </div>  
    <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12' style="background-color: rgb(75, 53, 35);">
      <div style="display:flex;flex-direction:column;align-items: center;justify-content: center;height:100%;color:lightgrey;text-align: center;">
        <h1>{{ txt1Prop }}</h1>
        <h5>{{ txt2Prop }}</h5>
      </div>
    </div>        
</div>
